.navbar{
    margin-bottom: 0;
}

button .navbar{
    padding: 15px;
}

span .navbar{
    height: 30px;
    width: 30px;
}

.jumbotron-extend{
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/image4.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:82vh;
    color: white;
    margin-top: 0;
}

.welcomemessage {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}


.mainmenu .col-3{
    border-right: 1px solid #ddd;
}

.glyphicon{
    font-size: xx-large;
    display: inline-block;
    
}

.icontitle{
    font-size: x-large;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

.mainmenu .row{
    margin-bottom: auto;
    padding-bottom: 30px;
    
}

.content{
    padding-top: 30px;
}
.content img{
    width: 100%;
}

.content{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content p{
    font-size: large;
    
}

.content .row{
    padding-top: 50px;
}

.profile img{
    width: 20%;
    height: 20%;
    
}
.uncolored {
    height: 100vh;
    background-color: white;
}

.colored {
    height: 100vh;
    background-color: #dcdcdc;
}

.content .col-4{
    width: 100%;
    padding: 0;
}

.col-4 p{
    color: white;
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.col-4 h3{
    font-size: medium;
}

.content .col-3{
    width: 100%;
    padding: 0;
}

.content .col-3 img:hover{
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity:0.6;
}

.col-3 p{
    color: white;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}
