

body{
    background-image: url("/members/manato/images/image_kadai/kadai-main.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


a:visited {
    color: #555;
}

a:hover {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 1.6;
}

section strong{
    text-align: center; 
}

#main h2 {
    background: #0B0B61;
    color: #FFFFFF;
    font-size: 20px;
    padding: 8px 22px;
    border-radius: 2px;
    border: 1px solid #0B0B61;
    text-align: center;
}

#main h3 {
    color: #0B0B61;
    font-size: 16px;
    border-left: solid 3px #FFFFFF;
    padding: 4px 9px 4px 14px;
}
#background{
    background-color: rgba(255,255,255,0.5);
    height:100%;
}

header {
    width: 984px;
    margin: 0 auto;
}

#manato_navi{
    margin-bottom: 16px;
    
}

#manato_navi ul{
    
font-size: 0;  
    list-style: none;
    margin: 0;
    padding: 0;
}


#manato_navi ul li{
    
font-size: 14px;  
    display: inline-block;
    width: 163px;
    margin-right: 1px;
    text-align: center;
}

#manato_navi ul li a {
    display: block;
    padding: 10px 16px;
   
    color: #fff;
    text-decoration: none;
    transition: background-color .2s linear;
}


#manato_navi ul li a:hover {
    background-color: #D8D8D8;
    color: #0B0B61;
}


#main_visual {
    position:relative;
    width: 670px;
    height: 440px;
    margin: 0 auto 25px;
}

#main_visual img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
   width: 100%;
    height: 440px;
}

#main_visual img.active {
  z-index:10;
}

#main_visual img.last-active {
  z-index:9;
}

#main_visual p#text {
   opacity: 0.7;
  position: absolute;
  color: #FFFFFF;
  font-weight: bold; 
  font-size: 54px;
  font-family :'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  z-index: 9999;
  }
  
  #main_visual p#clock {
        position: absolute;
        bottom:0%; 
        right:0%; 
        color:#FF8000;
  font-weight: bold;
  font-size: 14px;
  font-family :'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
      vertical-align: bottom;
      z-index: 9999;
      margin: 0;
  }
      
#wrapper {
    width: 1000px;
    margin: auto
}



#main {
    height: 1200px;
    margin: 0 auto ;

}

#intro{
    float:right;
}
#main  img {
    height: 400px;
    width: 400px;
    float: center;
}

#sidebar {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

footer {
    
    text-align: center;
}

footer #footer_navi {
   
    padding: 10px 0;
}

footer #footer_navi li {
    display: inline;
    border-left: solid 1px #333;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
    
}

footer #footer_navi li:last-child {
  border-right: solid 1px #333;
  padding: 0 8px;
}

#footer_navi li a:hover {
    color: #0B0B61;
}

footer small {
    display: inline-block;
    padding: 8px 0;
    color: #fff;
}
